body {
    width: 350px;
}

@font-face
{
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf')
}

@font-face
{
  font-family: RobotoCondensed;
  src: url('../fonts/RobotoCondensed-Regular.ttf')
}

ul.apps-list {
 list-style-type: none;
 width: auto; 
 margin: 0;
-webkit-margin-before: 0.2em;
-webkit-margin-after: 0.2em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;    
}

ul.apps-list li {
    margin: 0em;
    width: 31%;
    display: inline-block;
    padding: 0.2em;
}

.card {
    width: 100px;
    height: 100px;
    padding: 0.3em;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    transition: all 200ms ease;
    font-size: small;
    cursor: pointer;
}

.card:hover {
    transition: all 200ms ease;
    background-color: #eee;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.app .icon, .app .name {
 margin: 0 auto;   
}

.app .icon {
    padding: 0.3em;
    display: block;
}

.app .name {
    margin: 0.2em auto;
    padding: 0.2em;
    font-family: RobotoCondensed;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 92px;
    height: 20px;
    white-space:nowrap;
}

.icon {
 margin: auto;
 width: 100%;
 height: 64px;
    background-position: center center;
 background-size: 64px 64px;
 background-repeat:no-repeat;    
}