@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf')
}
@font-face {
    font-family: RobotoCondensed;
    src: url('../fonts/RobotoCondensed-Regular.ttf')
}

:root {
    --launcherPadding: 10px;
    --launcherWidth: 350px;
    --appsPerRow: 3;
    --appIconPadding: 5;
    --launcherPaneWidth: #{"(var(--launcherWidth) - (2 * var(--launcherPadding)))"};
    /*--launcherPaneWidth: (var(--launcherWidth));*/
    --itemWidth: (var(--launcherPaneWidth) / var(--appsPerRow));
    --itemNameHeight: #{"(0.3 * var(--itemWidth))"};
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #404040;
    width: var(--launcherWidth);
    padding: var(--launcherPadding);
    min-height: 110px;
}

ul.apps-list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

ul.apps-list:empty:after {
    display: block;
    content: 'Sorry, no apps found.';
    padding: 15px;
    width: 100%;
    border: #ccc;
    font-size: large;
    text-align: center;
    clear: both;
}

ul.apps-list * {
    -webkit-user-select: none;
}

ul.apps-list li {
    display: block;
    flex: none;
    width: calc(var(--itemWidth));
    height: calc(var(--itemWidth));
    margin: 0em;
}

.app {
    position: relative;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #fff;
}

.app:focus {
    outline: none;
    border: 1px solid #c9c9c9;
}

.app_content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app_name {
    margin: 0 auto;
}

.app_icon {
    display: block;
    margin: 0;
    padding: calc(var(--appIconPadding) * 1px);
    position: relative;
    width: calc(var(--itemWidth));
    height: calc(var(--itemWidth) - var(--itemNameHeight));
    background-position: center center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
}

.app_name {
    display: none;
    padding: 0.3em;
    font-size: 0.8rem;
    font-family: Roboto;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.showAppNames .app .app_name {
    display: block;
}

.hasSearch .search {
    display: block;
}

.hasSearch .apps-list {
    position: relative;
    top: 40px;
}

.search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    padding: 5px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.search_input {
    margin: 0 auto;
    font-family: 'Roboto';
    font-weight: lighter;
    display: block;
    width: 95%;
    height: 40px;
    padding: 5px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #ccc;
}

.search_input:focus {
    outline: none;
    border-bottom-color: #c9c9c9;
}
