body {
  width: 350px;
  color: #404040;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf')
}
@font-face {
    font-family: RobotoCondensed;
    src: url('../fonts/RobotoCondensed-Regular.ttf')
}

ul.apps-list {
    list-style-type: none;
    width: auto;
    margin: 0;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

ul.apps-list li {
    margin: 0em;
    display: inline-block;
    padding: 0.2em;
}

.card {
    padding: 0.3em;
    border-radius: 2px;
    font-size: small;
    cursor: pointer;
    border: 1px solid #fff;
}

.card:focus {
    outline: none;
    border: 1px solid #c9c9c9;
}
.app .icon,
.app .name {
    margin: 0 auto;
}

.app .icon {
    display: block;
}

.app .name {
    margin: 0.3em auto;
    padding: 0.2em;
    font-family: Roboto;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;

    white-space: nowrap;
}

.icon {
    margin: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

