<html ng-app='options' ng-csp>

<head>
    <title>Options</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- build:css(.tmp) styles/options.css -->
    <link rel='stylesheet' href="styles/angular-csp.css" />
    <link rel='stylesheet' href="styles/bootstrap.min.css" />
    <link rel='stylesheet' href="styles/options.css" />
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/options.js -->
    <script type='text/javascript' src='scripts/lib/lodash.min.js'></script>
    <script type='text/javascript' src='scripts/lib/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='scripts/lib/jquery.sortable.js'></script>
    <script type='text/javascript' src='scripts/lib/angular.js'></script>
    <script type='text/javascript' src='scripts/app/options/dependencies.js'></script>
    <script type='text/javascript' src='scripts/app/options/app.js'></script>
    <script type='text/javascript' src='scripts/app/common.js'></script>
    <!-- endbuild -->
</head>

<body>

    <div class="container" ng-controller='OptionsController'>
        <div class='row'>
            <div class='col-md-12'>
                <h1>
                    <img style='display: inline-block; max-height: 150px;' src='images/grid64.png' />&nbsp;Apps Launcher
                    <small>Options</small>
                </h1>
            </div>
        </div>
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <label>Icon size</label>
                    <div class="radio">
                        <label>
                            <i class='glyphicon glyphicon-th-large'></i>
                            <input type="radio" name='iconSize' value='large' ng-model='settings.iconSize'>&nbsp;Make them bigger and add a caption below.

                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <i class='glyphicon glyphicon-th'></i>
                            <input type="radio" name='iconSize' value='small' ng-model='settings.iconSize'>&nbsp;I like them smaller with no caption at all.
                        </label>
                    </div>
                </div>
            </div>
            <div ng-show='false' class="form-group">
                <div class="col-md-offset-1 col-md-11">
                    <label>Search bar</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name='searchBar' value='on' ng-model='settings.searchBar'>I'd like to search through my apps.
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name='searchBar' value='off' ng-model='settings.searchBar'>Hide the search bar. I do not need it.
                        </label>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <div class='col-md-offset-4 col-md-8'>
                    <button type='button' class="btn btn-primary btn-lg" ng-click='save()' >
                        <i ng-show='saved' class='glyphicon glyphicon-check '></i>&nbsp;Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
